body{
font-family:sans-serif;
background:#0f172a;
color:white;
padding:15px;
}

button{
padding:10px;
margin:5px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
}

input{
padding:10px;
width:100%;
margin:5px 0;
}
